.supplier{
  min-height: 25vh;
  opacity: 0;
}
.supplier h1{
  display: block;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transform: translateY(10vh);
  transition: all 1s linear;
  opacity: 0
}
.supplier h1:after{
  content:"";
  width: 10%;
  position: absolute;
  height: 1px;
  background: #000000;
  bottom: -15px;
  left: 45%;
}
.supplier .row:nth-child(2){
  padding: 5vh 0 3vh
}
.supplier .supplier-wrap{
  padding: 7vh 10vw 3vh 10vw
}
.supplier-wrap>.row:nth-child(2)>div{
  margin: 0 1.2vw
}
.supplier-wrap>.row:nth-child(2)>div:last-child{
  padding: 0 4vw 0 2vw
}
.supplier-wrap>.row:nth-child(2)>div:first-child{
  padding: 0 1vw 0 3vw
}

.supplier-wrap .row:nth-child(2) a img{
  transform: translateY(2vh);
  opacity: 0;
  transition: all 1s ease-in-out
}
.supplier .supplier-wrap::before, .supplier .supplier-wrap::after{
  transform: scaleY(0)
}
.supplier img {
  width: 100%;
  max-height: 200px;    
}

@media only screen and (max-width: 575px){
  .supplier .supplier-wrap{
    padding: 5vh 10vw
  }
  .supplier-wrap>.row:nth-child(2)>div{
    margin: 0 0 10vh
  }
  /* Pelco */
  .supplier-wrap>.row:nth-child(2)>div:first-child{
    padding: 0 3vw 0 5vw
  }
  /* ASE */
  .supplier-wrap>.row:nth-child(2)>div:last-child{
    padding: 0 8vw 0 6vw;
    margin-bottom: 0
  }
  .supplier .row:nth-child(2){
    padding: 5vh 0 0
  }
  .supplier-wrap .col-sm-3:nth-child(1){
    padding:2vh 12vw 2vh 6vw
  }
  .supplier-wrap .col-sm-3:nth-child(4){
    padding:2vh 14vw 2vh 6vw
  }
  .supplier-wrap .col-sm-3:nth-child(2){
    padding:2vh 6vw
  }
  .supplier-wrap .col-sm-3:nth-child(3){
    padding:2vh 6vw
  }
  .supplier-wrap .col-sm-3{
    min-height: 10vh
  }
}

@media (max-width: 991px){
  .supplier .row:nth-child(2)>div{
    margin: 0 3vw 3vh
  }
  .supplier .row:nth-child(2){
    padding: 5vh 0 0 !important
  }
  .supplier-wrap>.row:nth-child(2)>div:last-child{
    padding: 0 8vw 0 4vw
  }
  .supplier-wrap>.row:nth-child(2)>div:first-child{
    padding: 0 2vw 0 4vw
  }
  .supplier-wrap>.row:nth-child(2)>div:nth-child(4){
    padding:0 4.5vw 0 3vw
  }
}
@media (min-width: 992px){
  .supplier-wrap .col-sm-3{
    min-height: 10vh
  }  
}
@media (min-width: 1200px){
  .supplier-wrap .col-sm-3{
    min-height: 13vh
  }  
}

